@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --book-card-gap: 1.4rem;
}
:root {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  border-bottom: 1px solid black;
  padding: 1rem;
  letter-spacing: 4px;
}
.book-container {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background: #f7f8fc;
}
.book-card,
.addCard {
  border-radius: 0.6rem;
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: var(--book-card-gap);
  flex: 1;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.book-card > :nth-child(1) {
  font-weight: bold;
  font-size: 1.6rem;
  align-self: center;
  text-align: center;
}
.book-card > :nth-child(2)::before {
  content: "Written by  ";
}
.book-card > :nth-child(3)::before {
  content: "Pages  ";
}

.btn-read,
.btn-remove,
.btn-submit-book {
  height: 2rem;
  width: 100%;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: gray;
  color: white;
}
.btn-read {
  margin-top: auto;
  margin-bottom: calc(-1 * var(--book-card-gap));
}

.add-book {
  display: grid;
  place-items: center;
}
.addCard > input {
  width: 80%;
  background-color: #f7f8fc;
  border: 2px solid black;
  padding: 5px;
  padding-left: 0.5rem;
  border-radius: 5px;
}
.isRead {
  display: flex;
  gap: 10px;
}
.addCard button {
  margin-top: auto;
}
.add-button {
  height: 80px;
  width: 80px;
  border: 5px solid #000;
  border-radius: 10px;
  transition: fill 0.3s, border-color 0.2s;
}
.add-button:hover {
  fill: blue;
  border-color: blue;
}
.add-button:active {
  scale: 0.9;
}
.hide {
  display: none;
}
